.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers (e.g., Chrome, Safari) */
}
.hide-scrollbar {
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}
body {
  overflow-x: hidden;
}
